# Income Group webscraping

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [2]:
URL= 'https://gfmag.com/data/countries-by-income-group/'
response = requests.get(URL)

In [3]:
response.status_code

200

In [16]:
#response.text

In [17]:
soup = BS(response.text)

In [18]:
#print(soup.prettify())

In [19]:
soup.find('title')

In [20]:
#soup.findAll('table')

In [21]:
incomegroup = pd.read_html(str(soup.find('table')))[0]
incomegroup

                      Country      Classification  Group #
0                 Afghanistan          Low-income        1
1                  Bangladesh          Low-income        1
2                       Benin          Low-income        1
3                Burkina Faso          Low-income        1
4                     Burundi          Low-income        1
..                        ...                 ...      ...
199  Turks and Caicos Islands         High-income        4
200      United Arab Emirates         High-income        4
201            United Kingdom  High-income (OECD)        4
202             United States  High-income (OECD)        4
203                   Uruguay         High-income        4

[204 rows x 3 columns]

In [22]:
# acccording to the website, it divided into 4 income groups ,
#so it uses for high income groups and high income groups(OECD)  group 4(called high income). I change to it.

In [23]:
incomegroup['Classification'] = incomegroup['Classification'].replace({'High-income (OECD)':'High-income'})
incomegroup

                      Country Classification  Group #
0                 Afghanistan     Low-income        1
1                  Bangladesh     Low-income        1
2                       Benin     Low-income        1
3                Burkina Faso     Low-income        1
4                     Burundi     Low-income        1
..                        ...            ...      ...
199  Turks and Caicos Islands    High-income        4
200      United Arab Emirates    High-income        4
201            United Kingdom    High-income        4
202             United States    High-income        4
203                   Uruguay    High-income        4

[204 rows x 3 columns]

In [24]:
# drop unwanted coumns
incomegroup = incomegroup.drop(columns = ['Group #'])
incomegroup.head()

        Country Classification
0   Afghanistan     Low-income
1    Bangladesh     Low-income
2         Benin     Low-income
3  Burkina Faso     Low-income
4       Burundi     Low-income

In [25]:
incomegroup = incomegroup.rename(columns = {'Country':'country',
                                            'Classification':'classification'})
incomegroup.head()

        country classification
0   Afghanistan     Low-income
1    Bangladesh     Low-income
2         Benin     Low-income
3  Burkina Faso     Low-income
4       Burundi     Low-income

In [26]:
# check format
incomegroup.dtypes

country           object
classification    object
dtype: object

In [27]:
income = incomegroup.to_csv('../data/incomegroup.csv', index = False)
income